header
  nav#navbar.navbar.navbar-expand-md.navbar-light
    a.navbar-brand(href='/') Joel F Murphy
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='first_year_work.html') 1st Year Work
        li.nav-item
          a.nav-link(href='second_year_work.html') 2nd Year Work
        li.nav-item
          a.nav-link(href='/contact') Contact Me