//- Header.pug
//- Joel Murphy
//- https://joelfmurphy.herokuapp.com/
//- Provides the global nav throughout the site.

-var gNav = { 'Home': '/', 'My Work': '/works', 'My Services': '/services', 'About Me': '/about', 'Contact Me': '/contact' };
header
  nav#navbar.navbar.navbar-expand-md.navbar-light.container
    a.navbar-brand(href='/') Joel F Murphy
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        each val, key in gNav
          if(title === key)
            li.nav-item.active
          else
            li.nav-item
          a.nav-link(href=val)= key
          //- Thought I could use this https://pugjs.org/language/iteration.html
        //- To grab the key value, but it's only showing up as undefined