block activeVars
  -var active = 'Home'; //default

-var gNav = { 'Home': '/', 'My Work': '/works', 'My Services': '/services', 'About Me': '/about', 'Contact Me': '/contact' };
header
  nav#navbar.navbar.navbar-expand-md.navbar-light
    a.navbar-brand(href='/') Joel F Murphy
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        each val, key in gNav
          if(active === key)
            li.nav-item.active
          else
            li.nav-item
          a.nav-link(href=val)= key
        //- li.nav-item
        //-   a.nav-link(href='/works') My Work
        //- li.nav-item
        //-   a.nav-link(href='/services') My Services
        //- li.nav-item
        //-   a.nav-link(href='/about') About Me
        //- li.nav-item
        //-   a.nav-link(href='/contact') Contact Me