extends layout

block content
  main.container.my-4
    section.row
      h1.col-12.mb-5= title
      h3.col-12 My name is Joel F Murphy and I do web stuff.
      p.col-12
        | I have been going to school nearly my entire life because I love to learn, well that and the job market ain't what it used to be. I had originally attended Waterloo University, after high school, for programming, but found it wasn't as hands on as I would've liked. I then turned my attention to my second favourite class in high school and went to Canadore College in North Bay for TV and Video Production. After graduating there I entered a market that was fairly dried up of paying jobs, so I did what anyone else would do. Go back to school for programming. What's the definition of insanity again...
      p.col-12
        | This time I went to Georgian College in Barrie and it was a lot more hands on than my first post-secondary experience. After graduating on the Dean's List I got a job. Using a programming language I had used back in high school I was developing apps for teachers to use in classrooms. It was great, but the company lost funding their second year and had to dissolve that part of the business.
      p.col-12
        | After two years of not being able to find a programming gig that I knew the language for and spending a couple months creating a website for a local restaurant that shortly after closed down, I went back to Georgian College, this time for Web Design. Here I am today, in my last semester, making a portfolio site using node.js, express.js generator, and mongo.