//- Services.pug
//- Joel Murphy
//- https://joelfmurphy.herokuapp.com/
//- A list of the types of services I can provide.

extends layout

block content
	main.container.my-4
		section.row
			h1.col-12.mb-5= title
			p.col-12
				| My services include web programming and design using, but not limited to:
			ul.col-12
				li HTML5
				li CSS3
				li JS
				li ES6
				li Vue.js
				li Node.js
				li React
				li ASP.NET
				li MVC Framework
				li Bootstrap Framework
				li Express.js
				li Visual Basic
				li CSS Animations
				li Accessibility
				li SEO
				li MS SQL Server
				li NoSQL
				li MySql
				li Photoshop
				li Illustrator
				li Premiere
				li Audition
				li Final Cut