/* Style.css
Joel Murphy
https://joelfmurphy.herokuapp.com/
Custom styles for the site. */

body {
  min-width: 320px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: rgb(176, 219, 141);
}

#contacts {
  min-height: 69.5vh;
}

footer {
  background-color: rgb(218, 218, 218);
}